@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

body {
  animation: transitionIn 1s;
  font-family: "Poppins", sans-serif;
  /* animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
}

.wrap {
  display: none;
}

/* @keyframes fadeInAnimation {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
} */

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10px);
  }

  to {
    opacity: 1;
    transform: rotateX(0px);
  }
}
