* {
    margin: 0px;
    padding: 0px;
  }
  body {
    background-color: rgb(41, 41, 41);
  }
  .SNU-logo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .header-wrapper h2 {
    box-sizing: border-box;
    background-color: #677FA3;
    font-family: "Raleway", sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 20px;
    line-height: 115.9%;
    padding: 8px;
    letter-spacing: 1px;
    color: whitesmoke;
  }
  .main-title {
    margin: 11px;
  }
  .main-title h1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: rgb(159, 152, 152);
    font-size: 40px;
    font-family: "Raleway", sans-serif;
  }
  .main-title p {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    opacity: 0.68;
    letter-spacing: 1px;
    font-size: 15px;
    text-align: center;
    padding-bottom: 15px;
    font-family: "Raleway", sans-serif;
  }
  .info-container{
    margin: 10px;
  }
  .container-single{
    display: grid;
    gap: 10px;
    row-gap: 10px;
    top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  .info1{
    display:flex;
    padding: 16px 16px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #677FA3;
    justify-content:space-between;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: whitesmoke;
    font-size: 15px;
  }
  .info1 a{
    text-decoration:none;
    color: #2a3439;
    box-sizing: border-box;
    background-color:white;
    padding: 0px 10px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .info1 a:hover{
    background-color:rgb(76, 85, 132);
    color:whitesmoke;
  }