@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(../images/HomePage_Bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}

.Navbar-Items {
  display: flex;
  font-size: 13px;
  color: white;
  margin-top: 45px;
  margin-left: 90px;
  letter-spacing: 0.4px;
}

.Navbar-Items a {
  color: rgb(224, 223, 223);
  font-size: 18px;
  font-weight: 420;
  letter-spacing: 0.6px;
  text-decoration: none;
  transition: 0.3s;
}

.Navbar-Items a:hover {
  color: #6abd9f;
}

.Team-icon {
  padding-left: 40px;
}

.Main h1 {
  margin-left: 100px;
  margin-top: 130px;
  font-size: 60px;
  color: white;
}

.Main span {
  color: #6abd9f;
}

.Main p {
  margin-left: 100px;
  margin-top: 10px;
  font-size: 17px;
  font-weight: 500;
  color: white;
}

.buttons-container-1 {
  display: flex;
  padding-top: 30px;
}

.btn-1 {
  margin-left: 100px;
  margin-right: 30px;
  box-sizing: border-box;
  background-color: #d8f2e8;
  width: 190px;
  height: 49px;
  border-radius: 10px;
  text-align: center;
  padding-top: 13px;
  transition: 0.3s;
}

.btn-1:hover {
  background-color: #24584f;
}

.btn-2 {
  box-sizing: border-box;
  background-color: #d8f2e8;
  width: 190px;
  height: 49px;
  border-radius: 10px;
  padding-top: 13px;
  text-align: center;
  transition: 0.3s;
}

.btn-2:hover {
  background-color: #24584f;
}

.btn-3 {
  margin-left: 30px;
  box-sizing: border-box;
  background-color: #d8f2e8;
  width: 190px;
  height: 49px;
  border-radius: 10px;
  padding-top: 13px;
  text-align: center;
  transition: 0.3s;
}

.btn-3:hover {
  background-color: #24584f;
}

.buttons-container-1 a {
  text-decoration: none;
  color: #24584f;
  font-weight: 500;
  font-size: 20px;
}

.buttons-container-1 a:hover {
  color: #d8f2e8;
}

.buttons-container-2 {
  display: flex;
  padding-top: 15px;
}

.btn-4 {
  margin-left: 100px;
  margin-right: 30px;
  box-sizing: border-box;
  background-color: #d8f2e8;
  width: 190px;
  height: 49px;
  border-radius: 10px;
  text-align: center;
  padding-top: 13px;
  transition: 0.3s;
}

.btn-4:hover {
  background-color: #24584f;
}

.btn-5 {
  box-sizing: border-box;
  background-color: #d8f2e8;
  width: 190px;
  height: 49px;
  border-radius: 10px;
  padding-top: 13px;
  text-align: center;
  transition: 0.3s;
}

.btn-5:hover {
  background-color: #24584f;
}

.btn-6 {
  margin-left: 30px;
  box-sizing: border-box;
  background-color: #d8f2e8;
  width: 190px;
  height: 49px;
  border-radius: 10px;
  padding-top: 13px;
  text-align: center;
  transition: 0.3s;
}

.btn-6:hover {
  background-color: #24584f;
}

.buttons-container-2 a {
  text-decoration: none;
  color: #24584f;
  font-weight: 500;
  font-size: 20px;
}

.buttons-container-2 a:hover {
  color: #d8f2e8;
}

@media only screen and (max-width: 768px) {
  .Navbar-Items {
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }
  .Main h1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 0px;
  }
  .Main p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 0px;
  }
  .btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 500px) {
  .Navbar-Items {
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }
  .Main h1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 0px;
    font-size: 50px;
  }
  .Main p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 0px;
    font-size: 18px;
    padding: 0px 20px;
  }

  .btn-1 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .btn-2 {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .btn-3 {
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .btns {
    align-items: center;
    padding-right: 0px;
    margin-top: -14px;
  }
  .buttons-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding-bottom: 0px;
    margin-bottom: -15px;
  }
  .buttons-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
  }
  .btn-4 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .btn-5 {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .btn-6 {
    margin-left: 0px;
    margin-bottom: 40px;
  }
}
