* {
    margin: 0px;
    padding: 0px;
  }
  body {
    background-color: #2a3439;
  }
  .SNU-logo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .header-wrapper h2 {
    box-sizing: border-box;
    background-color:#93C572;
    font-family: "Raleway", sans-serif;
    display: flex;
    opacity: .9;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 20px;
    line-height: 115.9%;
    padding: 8px;
    word-spacing: 1px;
    color: #2a3439;
  }
  .main-title {
    margin: 11px;
  }
  .main-title h1 {
    display: flex;
    justify-content: center;
    padding-top: 14px;
    color: white;
    font-size: 50px;
    font-family: "Raleway", sans-serif;
  }
  .main-title p {
    display: flex;
    justify-content: center;
    color: white;
    opacity: 0.68;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    padding-bottom:15px;
  }
  
  .info-container{
    margin: 10px;
  }
  .container-single{
    display:flex;
    flex-direction: column;
    row-gap: 15px;
    top: 0;
  }
  .info1{
    padding: 10px 0px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #93C572;
    opacity: .9;
    justify-content:space-evenly;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #2a3439;
    text-align: center;
  }
  .info1 p{
      padding-bottom: 10px;
  }
  .info1 a{
    text-decoration:none;
    color: #2a3439;
    box-sizing: border-box;
    background-color:white;
    padding: 1px 5px;
    border-radius: 5px; 
    justify-content:space-between; 
    opacity: .8;  
  }
  .info1 a:hover{
    background-color:#2a3439;
    color:azure;
  }