* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #2a3439;
}
.SNU-logo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.header-wrapper h2 {
  box-sizing: border-box;
  background-color: #adefd1;
  font-family: "Raleway", sans-serif;
  display: flex;
  opacity: 0.68;
  text-align: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 50px;
  line-height: 115.9%;
  padding: 8px;
  letter-spacing: 1px;
  color: #00203f;
}
.main-title {
  margin: 11px;
}
.main-title h1 {
  display: flex;
  justify-content: center;
  padding: 30px;
  color: white;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
}
.main-title h1 span {
  color: #adefd1;
}
.main-title p {
  display: flex;
  justify-content: center;
  color: white;
  opacity: 0.68;
  letter-spacing: 1px;
  font-size: 15px;
  text-align: center;
  padding: 6px 100px ;
  font-family: "Raleway", sans-serif;
}

.heading-btn {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: white;
  text-align: center;
  font-size: 12px;
}
.heading-btn h2 {
  margin-left: 3px;
}

.row-1{
display: flex;
justify-content: center;
padding:60px 250px;
justify-content: space-between;
}
.row-2{
  display: flex;
  justify-content: center;
  padding:0px 250px;
  justify-content: space-between;
  margin-top: -30px;
  }
.DashboardButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-gap: 15px;
  gap: 15px;
  width: 300px;
  height: 70px;
  background: #adefd1;
  border-radius: 20px;
  border: none;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 16px;
  color: #2a3439;
  cursor: pointer;
  text-decoration: none;
  margin: 1px;
  opacity: 0.68;
}
.DashboardButton:hover{
  background-color: white;
  transition: 0.3s;
}
@media only screen and (max-width: 300px){

  .header-wrapper h2 {
    box-sizing: border-box;
    background-color: #adefd1;
    font-family: "Raleway", sans-serif;
    display: flex;
    opacity: 0.68;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 30px;
    line-height: 115.9%;
    padding: 8px;
    letter-spacing: 1px;
    color: #00203f;
  }

  .main-title h1 {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
  }

  .main-title p {
    display: flex;
    justify-content:center;
    padding: 3px 10px;
  }

.row-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
.row-2{
  display: flex;
  justify-content: center;
    }
}