*{
  margin:0px;
  padding:0px;
}
body{
  background-color: white;
  font-family: 'Montserrat',sans-serif;
}
h3{
  margin-top:10px;
  margin-left: 20px;
  color:#24584F;
}
h3 span{
  color:#6ABD9F;
}
.Heading-para{
  margin-top: 50px;
  margin-left: 70px;
}
.Heading-para h1{
  font-size:48px;
  color:Black;
}
.Heading-para p{
  color:#24584F;
  font-weight: 600;
}
.components{
  display:flex;
  flex-direction: column;
  padding-top: 20px;
}
.single-component{
  box-sizing:border-box;
  background-color: #D8F2E8;
  margin-top: 10px;
  margin-left: 70px;
  width: 1283px;
  height: 63px;
  display:flex;
  justify-content: space-between;
  border-radius: 20px;
}
.topic-info{
  color:#24584F;
  font-weight:600;
  padding-left: 15px;
  padding-top: 17.9px;
  font-size:20px;
}
.btns{
  padding-right: 10px;
  display:flex;
}
.btns a{
  text-decoration:none;
  color:black;
  font-weight: normal;
  box-sizing:border-box;
  width: 138px;
  height: 34px;
  text-align: center;
  background-color: white;
  padding-top: 5px;
  margin-top: 15px;
  border-radius: 10px;
  transition:.2s;
}
.btns a:hover{
  background-color:#24584F;
  color:white;
}
.btn-1{
  margin-right: 60px;
}
.btn-3{
  margin-left: 60px;
  margin-right: 15px;
}

@media only screen and (max-width: 768px){
h3{
  font-size:20px;
  margin-right: 20px;
}

.Heading-para{
  margin-left: 20px;
}

.components{
  margin-left: -50px;
  margin-right: 20px;
  width: 100%;
}

.single-component{
  box-sizing:border-box;
  background-color: #D8F2E8;
  margin-top: 10px;
  width: 80%;
  height: 60px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  border-radius: 20px;
}
.btns{
  position:relative;
  padding-bottom: 50px;
  padding-left: 15px;;
}

}
@media only screen and (max-width: 500px){

  .Heading-para h1{
   text-align: center;
  }
  .Heading-para p{
      display:flex;
      justify-content: center;
      color:#24584F;
      font-weight: 600;
      text-align: center;
  }
  
  .btn-3{
      margin-left: 0px;
      margin-right: 0px;
  }
  .components{
      margin-left:-80px;
      padding:0px 10px;
  }
  .single-component{
      width:100%;
      height:60px;
  }
  .topic-info{
      text-align: center;
  }
  .btn-1{
      margin-right: 0px;
  }
}