* {
    margin: 0px;
    padding: 0px;
  }
  body {
    background-color: #445429;
  }
  .SNU-logo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .header-wrapper h2 {
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: "Raleway", sans-serif;
    display: flex;
    opacity: 0.68;
    text-align: center;
    justify-content: center;
    font-size: 10px;
    margin-top: 20px;
    line-height: 115.9%;
    padding: 8px;
    letter-spacing: 1px;
    color: #00203f;
  }
  .main-title {
    margin: 11px;
  }
  .main-title h1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: white;
    font-size: 50px;
    font-family: "Raleway", sans-serif;
  }
  .main-title h1 span {
    color: #adefd1;
  }
  .main-title p {
    display: flex;
    justify-content: center;
    color: white;
    opacity: 0.68;
    letter-spacing: 1px;
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
    font-family: "Raleway", sans-serif;
  }
  
  .info-container{
    margin: 10px;
  }
  .container-single{
    display: grid;
    gap: 10px;
    row-gap: 10px;
    top: 0;
  }

  .info1{
    display:flex;
    padding: 10px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: whitesmoke;
    opacity: 0.68;
    justify-content:space-between;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #2a3439;
  }
  .info1 a{
    text-decoration:none;
    color: whitesmoke;
    box-sizing: border-box;
    background-color:#556B2F;
    opacity: .7;
    padding: 1px 10px;
    border-radius: 5px;
    transition: .3s;
  }
  .info1 a:hover{
    background-color:grey;
    color:whitesmoke;
  }